body {
    font-family: sans-serif;
    width:1000px;  
    height: 1000px;
}
.header_main {
    display:block;
    background-color:white;
    margin:0;
    width: 950px;
    padding-left: 20px;
    
}
.header_main h1{
    width: 450px;
    display: inline-block;
    font-size: 2;
    font-family: cursive;
}
.header_main h2 {
    width:430px;
    display: inline-block;
    font-size: 20px;
    text-align: right;

}
.container {
    width:930px;  
    height: 940px;
    padding: 20px;
    background: -webkit-linear-gradient(#311f25, #866e7a, #311f25); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#311f25, #866e7a, #311f25); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#311f25, #866e7a, #311f25); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#311f25, v, #311f25); /* Standard syntax (must be last) */
}
#me {
    display: inline-block;
    height:275px;
    border: grey solid 5px;
    vertical-align: top;
}
#about{
    display: block;
    width: 455px;
    color: white;
    padding:10px;
    margin:0;
    background: -webkit-linear-gradient(#a7a8ac, #868793, #a7a8ac); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#a7a8ac, #868793, #a7a8ac); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#a7a8ac, #868793, #a7a8ac); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a7a8ac, #868793, #a7a8ac); /* Standard syntax (must be last) */
}
.aboutme {
    width: 475px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    margin-left: 20px;
    height: 280px;
}

.aboutme p{
    padding:0px 10px;
}

.section{
   display: inline-block;
   width:292px;
   margin-top:20px;
   vertical-align: top;
   background-color: white;
   height: 630px; /* For Safari 5.1 to 6.0 */
   
  background: -webkit-linear-gradient(left, #fdfdfd , #dbcdda); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #fdfdfd, #dbcdda); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #fdfdfd, #dbcdda); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #fdfdfd , #dbcdda); /* Standard syntax */
}
.section p {
    width: 260px;
    height: 200px;
    padding: 0px 10px;
    text-align: justify;
    
}

#lamode, #familycontacts {
    margin-right:19px;
}
.tech_icons img{
    height: 40px;
    width: 40px;
    margin:5px;
}
.site_img {
    width:291px;
    height: 155px;
}
.header_bar {
    padding: 10px 10px;
    margin:0;
    display: block;
    width: 400;
    color: white;
    background: -webkit-linear-gradient(#a7a8ac, #868793, #a7a8ac); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#a7a8ac, #868793, #a7a8ac); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#a7a8ac, #868793, #a7a8ac); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a7a8ac, #868793, #a7a8ac); /* Standard syntax (must be last) */
}
button{
    display: block;
    margin: auto;
    color:white;
    background-color: #3c7859;
    border-radius: 10px;
    padding:5px 8px;
    
}
.footer {
    background-color: white;
    text-align: center;
    padding-bottom: 10px;
    width: 970px;
    margin-left: -20px;
  }
 .footer a{
     font-style: italic;
     padding-top: 10
 }
 .footer img {
     width: 20px;
 }
 .footer h4{
     padding-top: 20px;
     
 }
