#pokedex{
    border-style: groove;
    border-color: #6d1414;
    border-width: 5px;
    width: 300px;
    height: 300px;
    display: inline-block;
    vertical-align: top
}
 #show{
     width: 900px;
     display: inline-block;
 }
.enhance {
    font-size: 30px;
    padding: 20px;
    
}
h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 5px;
    margin-top: 0;
    font-family: cursive;
}