/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 height:700px;
 background-color: silver;
 margin: 20px;

}
#header{
 height: 150px;
 background-color: green;
 margin: 20px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 margin:20px 20px;
 float:left;
 
}
#main_content{
 height: 400px;
 width: 600px;
 background-color: red;
 float:right;
 disply:inline;
 margin-right: 20px;
 padding: 0px 20px 20px 0px
 
 }
.subcontents{
 height: 200px;
 width: 170px;
 background-color: yellow;
 float: right;
 margin: 10px;
}
#advertisement{
 height: 120px;
 width: 550px;
 background-color: purple;
 clear: both;
margin: 10px;
 float: right;
 
}
